.navbar-custom{
  background-color: #382ae1;
  color: white;
}


.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
  color: white !important;
}

.navbar-toggler {
  background-color: #ffffff; /* White background */
  border: 1px solid #ffffff; /* Optional: white border */
}

.navbar-toggler .fas {
  color: #382ae1; /* Color of the icon */
}

a:hover{
  cursor: pointer;
}

.nav-link {
  color: #ffffff; /* Default link color */
  transition: opacity 0.3s ease;
}

.nav-link.inactive {
  color: #dddddd93; /* Faded effect for inactive links */
}

.nav-link.active {
  opacity: 1; /* Full opacity for the active link */
  font-weight: bold; /* Optional: highlight the active link */
}
