<div class="row">
  <div class="paginator">
    <button class="btn btn-success" (click)="onPrevPage()" [disabled]="page<= 1">Prev</button>
    <button class="btn btn-success" (click)="onNextPage()" [disabled]="page >= totalPages">Next</button>
  </div>
</div>
<div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col" *ngFor="let product of allProducts">
    <div class="card" (click)="onProductClick(product.id)">
      <img
        [src]="'https://image.tmdb.org/t/p/original/' + product.poster_path"
        class="product__img card-img-top -block mx-auto"
        alt="product image"
      />
      <div class="card-body">
        <h5 class="card-title">
          {{ product.title }}
        </h5>
        <p class="card-text product__phone">{{ product.release_date }}</p>
      </div>
    </div>
  </div>
</div>
